* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Helvetica;
    display: flex;
    flex-wrap: wrap;
  }
  
  header {
    background-color: #ff9e7a;
    width: 100%;
  }
  
  footer {
    background-color: #b1fcc8;
    width: 100%;
  }
  
  aside {
    background-color: #ffe07a;
    height: 100%;
  }
  
  main {
    background-color: #bf9df7;
  }
  aside, main {
    width: 100%;
  }
  
  header, footer, aside, main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

